/* http://www.menucool.com/jquery-slider */

#thumbnail-slider2 {
    /*margin:0 auto;*/ /*center-aligned*/
    width:89%;/*width:400px;*/
    position:relative;
    -webkit-user-select: none;
    user-select:none;
    margin: 0px 60px;
    margin-top: 25px;
}

#thumbnail-slider2 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
}


#thumbnail-slider2 div.inner ul {
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider2 ul li {
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    /*border:3px solid black;*/
    margin:0;
    margin-right:10px; /* Spacing between thumbs*/
    transition:border-color 0.3s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    margin-left: 6px;
    margin-right: 6px;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbnail-slider2 ul li.active {
    border-color:white;
}

#thumbnail-slider2 .thumb {
    opacity:1;
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider2-pause-play {display:none;} /*.pause*/

#thumbnail-slider2-prev, #thumbnail-slider2-next
{
    opacity:1;
    position: absolute;
    /*background-color:#0346a3;*/
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
    width:32px;
    height:60px;
    line-height:60px;
    top: 50%;
    margin:0;
    margin-top:-30px;
    color:white;    
    z-index:10;
    cursor:pointer;
}

#thumbnail-slider2-prev {
    left:-30px; right:auto;
}

#thumbnail-slider2-next {
    left:auto; right:-30px;
}
#thumbnail-slider2-next.disabled, #thumbnail-slider2-prev.disabled {
    opacity:0.3;
    cursor:default;
    display: none;
}


/* arrows */
#thumbnail-slider2-prev::before, #thumbnail-slider2-next::before {
 position: absolute;
 top: -1px;
 content: "";
 display: block;
 width: 52px;
 height: 52px;
 border-left: 1px solid black;
 border-top: 1px solid black;
}

#thumbnail-slider2-prev::before {
    left:-3px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider2-next::before {
    right:-3px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){

    #thumbnail-slider2 {padding:10px 26px;}

    #thumbnail-slider2-prev {left:-7px;}

    #thumbnail-slider2-next {right:-7px;}
}

#thumbnail-slider2 ul li.loading::after {
    display: none !important;
}