<!-- page content -->
            <div class="right_col art_board_2" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left col-md-6">
                            <h2 class="pdntp10"><a ui-sref="dashboard">{{customerName}}</a> | <a ui-sref="cardView({customerName: customerName, service: service})">{{translate(service)}}</a> | {{serviceName}}</h2>
                        </div>
                        <div class="title_right col-md-6">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                                <!-- <div class="input-group main_search">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <input type="text" class="form-control" ng-model="userFilterKey" placeholder="Search...">
                                </div> -->
                                <div class="pull-right add-button-placement" ng-if="permissions.update">
                                    <a title="{{translate('edit')}}" href="javascript:void(0);" ui-sref="edit({customerName: customerName, service:service, serviceName: serviceName})" role="button" ><button class="btn untag-btn btn-custom">Edit</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content">
                                    <div class="col-md-6 col-lg-6 col-sm-12">
                                        <!-- blockquote -->
                                        <blockquote>
                                           <div class="tab-pane active" id="home-r">
                                              <p class="lead">{{translate(serviceSingular+'Name') | capitalize}}</p>
                                              <p class="blockquote_ptxt">{{serviceName}}</p>
                                          </div>
                                      </blockquote>

                                      <blockquote class="blockquote_ptxt">
                                        <div class="tab-pane active" id="home-r">
                                          <p class="lead">{{translate(service) | capitalize}} Details</p>

                                          <p class="blockquote_ptxt">{{translate('accountAPIkey')}} : {{requiredData['accountAPIkey']}}</p>
                                          <p class="blockquote_ptxt">{{translate('accountBudget')}} : {{requiredData['accountBudget']}}</p>
                                          <p class="blockquote_ptxt">{{translate('accountDescription')}} : {{requiredData['accountDescription']}}</p>
                                          <p class="blockquote_ptxt">{{translate('accountSecretkey')}} : {{requiredData['accountSecretkey']}}</p>
                                          <p class="blockquote_ptxt">{{translate('createdUser')}} : {{requiredData['createdUser']}}</p>
                                          <p class="blockquote_ptxt">{{translate('csp')}} : {{requiredData['csp']}}</p>
                                          <p class="blockquote_ptxt">{{translate('isActive')}} : {{requiredData['isActive']}}</p>
                                      </div>
                                  </blockquote>
                              </div>
                              <div class="col-md-6 col-lg-6 col-sm-12">
                                <div>
                                    <div class="x_title accounts_list_head">
                                        <h2>{{translate('users')}}</h2>                                                  
                                        <div class="clearfix"></div>
                                    </div>
                                    <ul class="list-unstyled top_profiles scroll-view profile_listcs">
                                        <li class="media event" ng-repeat="user in serviceData[customerName]['users'] | filter:userFilterKey">
                                            <a class="pull-left border-aero profile_thumb">
                                                <i class="fa fa-user aero"></i>
                                            </a>
                                            <div class="media-body name_body">
                                                <a class="title" href="#">{{user.fname}} {{user.sname}}</a>
                                                <p> {{user.uid}} </p>
                                            </div>
                                            <p class="color_morron"> <strong></strong></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>