<!-- page content -->
            <div class="right_col art_board_2" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h2>{{customerName}} | {{ translate(service) || service | uppercase }} {{ translate('administration') || 'ADMINISTRATION' | uppercase }}</h2>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>1 to 12 of 36 {{ translate(service) }} </h2>
                                    <div class="title_right">
                                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                            <div class="input-group main_search">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                <input type="text" class="form-control" placeholder="Search...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="cards_container">
                                        Todo :: move this to sub template using ng-include
                                        <div class="col-md-2 col-sm-4 col-xs-6 profile_details cards" data-ng-repeat=''>
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h4 class="brief">Cloud Code</h4>
                                                    <div class="bottomtxt col-xs-12">

                                                        <h2>67 Projects</h2>
                                                        <h2 class="color_morron">$ 28,382</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->