<div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a id="menu_toggle">
                                        <i class="font28 fa fa-bars"></i>
                                    </a>
                                </li>
                                <li><a><i class="fa fa fa-cogs"></i> Administration <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a>Acme Customer 01<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu"><a href="level2.html">Business Units</a>
                                                </li>
                                                <li><a href="#">Accounts</a>
                                                </li>
                                                <li><a href="#">Projects</a>
                                                </li>
                                                <li><a href="#">Users & Roles</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a>Acme Customer 02<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu"><a href="level2.html">Business Units</a>
                                                </li>
                                                <li><a href="#">Accounts</a>
                                                </li>
                                                <li><a href="#">Projects</a>
                                                </li>
                                                <li><a href="#">Users & Roles</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a>Acme Customer 03<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu"><a href="level2.html">Business Units</a>
                                                </li>
                                                <li><a href="#">Accounts</a>
                                                </li>
                                                <li><a href="#">Projects</a>
                                                </li>
                                                <li><a href="#">Users & Roles</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a>Acme Customer 04<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu"><a href="level2.html">Business Units</a>
                                                </li>
                                                <li><a href="#">Accounts</a>
                                                </li>
                                                <li><a href="#">Projects</a>
                                                </li>
                                                <li><a href="#">Users & Roles</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a>Acme Customer 05<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu"><a href="level2.html">Business Units</a>
                                                </li>
                                                <li><a href="#">Accounts</a>
                                                </li>
                                                <li><a href="#">Projects</a>
                                                </li>
                                                <li><a href="#">Users & Roles</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                                <li><a><i class="fa fa-level-up"></i> Requests <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a>Acme Customer 01<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu"><a href="level2.html">Business Units</a>
                                                </li>
                                                <li><a href="#">Accounts</a>
                                                </li>
                                                <li><a href="#">Projects</a>
                                                </li>
                                                <li><a href="#">Users & Roles</a>
                                                </li>
                                            </ul>
                                        </li>                                        
                                    </ul>
                                </li>

                                <li><a><i class="fa fa-cloud"></i> Cloud Resources <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a>Acme Customer 01<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu"><a href="level2.html">Business Units</a>
                                                </li>
                                                <li><a href="#">Accounts</a>
                                                </li>
                                                <li><a href="#">Projects</a>
                                                </li>
                                                <li><a href="#">Users & Roles</a>
                                                </li>
                                            </ul>
                                        </li>                                        
                                    </ul>
                                </li>

                                <li><a><i class="fa fa-wrench"></i> Maintenance <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a>Acme Customer 01<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu"><a href="level2.html">Business Units</a>
                                                </li>
                                                <li><a href="#">Accounts</a>
                                                </li>
                                                <li><a href="#">Projects</a>
                                                </li>
                                                <li><a href="#">Users & Roles</a>
                                                </li>
                                            </ul>
                                        </li>                                        
                                    </ul>
                                </li>


                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- page content -->
            <div class="right_col pdnlft0" role="main">
                <div class="">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel pdntop0">
                                <div class="x_title">
                                    <h2 class="pdntp10">1 to 25 of 678 </h2>
                                    <ul class="nav navbar-right panel_toolbox minwidthauto seachtab">
                                        <li class="mgn_ryt6">
                                            <a href="#" role="button" ><i class="font18px fa fa-plus"></i></a>
                                        </li>
                                        <li class="searchtable">
                                            <div class="form-group pull-right top_search">
                                                <div class="input-group main_search">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                    <input type="text" class="form-control" placeholder="Search...">
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown table-settings">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="font18px fa fa-gear"></i></a>
                                            <ul class="dropdown-menu settabledd" role="menu">
                                                <li>
                                                    <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required class="flat" /> Skiing
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="hobbies[]" id="hobby2" value="run" class="flat" /> Running
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Eating
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="hobbies[]" id="hobby4" value="sleep" class="flat" /> Sleeping
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="hobbies[]" id="hobby4" value="sleep" class="flat" /> Sleeping
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="hobbies[]" id="hobby4" value="sleep" class="flat" /> Sleeping
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="hobbies[]" id="hobby4" value="sleep" class="flat" /> Sleeping
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="hobbies[]" id="hobby4" value="sleep" class="flat" /> Sleeping
                                                </li>
                                            </ul>
                                        </li>




                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                

                                <div class="x_content table-responsive">
                                    <table class="table" id="datatable-sort2">
                                        <thead>
                                            <tr>
                                                <th>First name</th>
                                                <th>Last name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>Age</th>
                                                <th>Start date</th>
                                                <th>Salary</th>
                                                <th>Extn.</th>
                                                <th>E-mail</th>
                                            </tr>
                                        </thead>
                                        <tbody id="sortable-6">
                                            <tr>
                                                <td>Tiger</td>
                                                <td>Nixon</td>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>$320,800</td>
                                                <td>5421</td>
                                                <td>t.nixon@datatables.net</td>
                                            </tr>
                                            <tr>
                                                <td>Garrett</td>
                                                <td>Winters</td>
                                                <td>Accountant</td>
                                                <td>Tokyo</td>
                                                <td>63</td>
                                                <td>2011/07/25</td>
                                                <td>$170,750</td>
                                                <td>8422</td>
                                                <td>g.winters@datatables.net</td>
                                            </tr>
                                            <tr>
                                                <td>Ashton</td>
                                                <td>Cox</td>
                                                <td>Junior Technical Author</td>
                                                <td>San Francisco</td>
                                                <td>66</td>
                                                <td>2009/01/12</td>
                                                <td>$86,000</td>
                                                <td>1562</td>
                                                <td>a.cox@datatables.net</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active tabssma"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Details</a>
                                        </li>
                                        <li role="presentation" class="tabssma"><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Accounts</a>
                                        </li>
                                        <li role="presentation" class="tabssma"><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Financials</a>
                                        </li>
                                        <li role="User" class="tabssma"><a href="#tab_content4" role="tab" id="user-tab" data-toggle="tab" aria-expanded="false">Users</a>
                                        </li>
                                    </ul>


                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <ul class="nav navbar-right panel_toolbox minwidthauto editsave_btns">
                                                <li class="mgn_ryt8 mgntp7">
                                                    <a href="#" role="button" ><i class="font18px fa fa-edit"></i></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>

                                            <form class="form-horizontal form-label-left pdn12">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="x_content">

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email Address </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <p class="txtleft control-label">Customer@acme02.com</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <p class="txtleft control-label">1234567890</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">City </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <p class="txtleft control-label">Boise</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">State </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <p class="txtleft control-label">Idaho</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Country </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <p class="txtleft control-label">India</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Zipcode </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <p class="txtleft control-label">26372</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Address </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <p class="txtleft control-label">423, Address 825, place 285, EJS</p>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 pdnryt25">
                                                    <div class="x_content">

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Active </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <p class="floatleft control-label">Y</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <div role="tabpanel" class="tab-pane fade pdn12" id="tab_content2" aria-labelledby="profile-tab">
                                            <div class="x_content table-responsive pdn12">
                                                <table class="table" id="datatable-sort2">
                                                    <thead>
                                                        <tr>
                                                            <th>First name</th>
                                                            <th>Last name</th>
                                                            <th>Position</th>
                                                            <th>Office</th>
                                                            <th>Age</th>
                                                            <th>Start date</th>
                                                            <th>Salary</th>
                                                            <th>Extn.</th>
                                                            <th>E-mail</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="sortable-6">
                                                        <tr>
                                                            <td>Tiger</td>
                                                            <td>Nixon</td>
                                                            <td>System Architect</td>
                                                            <td>Edinburgh</td>
                                                            <td>61</td>
                                                            <td>2011/04/25</td>
                                                            <td>$320,800</td>
                                                            <td>5421</td>
                                                            <td>t.nixon@datatables.net</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Garrett</td>
                                                            <td>Winters</td>
                                                            <td>Accountant</td>
                                                            <td>Tokyo</td>
                                                            <td>63</td>
                                                            <td>2011/07/25</td>
                                                            <td>$170,750</td>
                                                            <td>8422</td>
                                                            <td>g.winters@datatables.net</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ashton</td>
                                                            <td>Cox</td>
                                                            <td>Junior Technical Author</td>
                                                            <td>San Francisco</td>
                                                            <td>66</td>
                                                            <td>2009/01/12</td>
                                                            <td>$86,000</td>
                                                            <td>1562</td>
                                                            <td>a.cox@datatables.net</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="clearfix"></div>
                                                <div>
                                                    <button type="button" class="btn btn-primary">Add</button>
                                                    <button type="button" class="btn btn-primary">Remove</button>
                                                </div>


                                            </div>


                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                            <ul class="nav navbar-right panel_toolbox minwidthauto editsave_btns">
                                                <li class="mgn_ryt8 mgntp7">
                                                    <a href="#" role="button" ><i class="font18px fa fa-save"></i></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                            <!-- <ul class="nav navbar-right panel_toolbox minwidthauto editsave_btns_witout">
                                                <li class="mgn_ryt6 mgntp7">
                                                    <a href="#" role="button" ><i class="font18px fa fa-save"></i></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div> -->

                                            <form class="form-horizontal form-label-left pdn12">

                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="x_content">

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email Address </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <p class="txtleft control-label">Customer@acme02.com</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <p class="txtleft control-label">1234567890</p>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">City</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <select class="form-control">
                                                                    <option>Choose City..</option>
                                                                    <option>Bangalore</option>
                                                                    <option>Ahemdabad</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">State</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <select class="form-control">
                                                                    <option>Choose State..</option>
                                                                    <option>Bangalore</option>
                                                                    <option>Ahemdabad</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Country</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <select class="form-control">
                                                                    <option>Choose Country..</option>
                                                                    <option>Bangalore</option>
                                                                    <option>Ahemdabad</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Zipcode</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <input type="text" class="form-control" placeholder="zipcode">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Address <span class="required">*</span>
                                                            </label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                                <textarea class="form-control" rows="3" placeholder='Address'></textarea>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 pdnryt25">
                                                    <div class="x_content">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                                                            <div class="col-md-9 col-sm-9 col-xs-12 pdnryt20">
                                                                <select class="form-control">
                                                                    <option>Y</option>
                                                                    <option>N</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>


                                        </div>
                                        <div role="tabpanel" class="tab-pane fade pdn12" id="tab_content4" aria-labelledby="user-tab">
                                            <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->