<table class="table" ng-if="table.multipleRows" ng-init="table.service ? loadServiceRelatedToUser(selectedServiceData[serviceSingularName], tabFormat.tabSlug, table.role) : loadUsersRelatedToService(selectedServiceData[serviceSingularName], table.role)">
  <thead>
    <tr>
      <th ng-repeat="columnKey in table.columns | keys" ng-init="name = table.columns[columnKey]">{{name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in servicesRelatedToUser track by $index">
      <td>{{user}}</td>
    </tr>
  </tbody>
</table>
<button ng-repeat="button in table.buttonAction" ng-if="permissions.all.indexOf(button.buttonAction) > -1" class="btn pull-right" ng-click="makeUserAccountAdmin(selectedServiceData[serviceSingularName])">{{button.buttonName}}</button>
<button ng-repeat="button in table.buttonAction" ng-if="permissions.all.indexOf('tagAa') > -1" class="btn pull-right" ui-sref="tagView({customerName: customerName, service: service, serviceName: selectedServiceData[serviceSingularName], tagName: 'tagAcAdminAndAccount', role: table.role})">{{button.buttonName}}</button>