<table class="table"  ng-init="loadProjectsOfBudget(customerName,selectedRowId)">
    <thead>
    <tr>
        <th ng-repeat="columnKey in tabtable.columns | keys" ng-init="name = tabtable.columns[columnKey]">{{name}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in projectsOfBudget track by $index">
        <td ng-repeat="columnKey in tabtable.columns | keys">{{user}}</td>
    </tr>
    </tbody>
</table>
<button ng-if="customerBudgets[selectedRowId].isActive == 'yes'" ui-sref="budgetProjectTagView({customerName: customerName, service: service, budgetName: customerBudgets[selectedRowId].budgetName, tagName: tabtable.buttonAction.buttonAction, type:'projects'} )"  class="btn pull-right" >Tag/Untag Projects</button>