    <!-- jQuery -->
    <script src="/static/new/js/jquery.min.js"></script>
    <script src="/static/new/js/jquery-ui.min.js"></script>
    <script src="/static/new/js/jquery.dataTables.min.js"></script>
    <script src="/static/new/js/toastr.js"></script>
    <!-- slider -->
    <script type="text/javascript" src="/static/new/js/slick/slick.min.js"></script>
    <!-- angular -->
    <script src="/static/new/js/formly/api-check.js"></script>
    <script src="/static/new/js/angular/angular.min.js"></script>
    <script src="/static/new/js/angular/angular-ui-router.min.js"></script>
    <script src="/static/new/js/angular/angular-resource.min.js"></script>
    <script src="/static/new/js/angular/angular-base64-upload.min.js"></script>
    <script src="/static/new/js/angular/angular-datatables.min.js"></script>
    <script src="/static/new/js/angular/angular-csv-import.min.js"></script>
    <script src="/static/new/js/angular/angular-datepicker.js"></script>
    <script src="/static/new/js/angular/ngduallist.js"></script>
    <script src="/static/new/js/formly/formly.js"></script>
    <script src="/static/new/js/angular/angular-wizard.min.js"></script>
    <script src="/static/new/js/formly/angular-formly-templates-bootstrap.js"></script>
    <script src="/static/new/js/sweetalert-dev.js"></script>
    <script src="/static/new/js/ng-sweet-alert.js"></script>
    <!-- Bootstrap -->
    <script src="/static/new/js/bootstrap.min.js"></script>
    <script src="/static/new/js/ui-bootstrap-tpls-0.11.0.js"></script> 
    
    <script src="/static/new/js/Chart.min.js"></script>
    <script src="/static/new/js/angular-chart.min.js"></script>
    <!-- <script src="/static/new/js/moment/moment.min.js"></script> -->
    <script src="/static/new/js/moment/moment.min.js"></script>
    <!-- Dropdown Multiselect  -->
    <script src="/static/new/js/angular/angularjs-dropdown-multiselect.min.js"></script>

<!-- load angular-moment -->
<script src="/static/new/js/moment/angular-moment.min.js"></script>
    <!-- NProgress -->
    <script src="/static/new/js/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/static/new/js/bootstrap-progressbar.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/static/new/js/custom.js"></script>
    <!-- app js -->
    <script src="/static/new/js/app-js/bootstrap.js"></script>
    <script src="/static/new/js/app-js/formlyConfig.js"></script>
    <script src="/static/new/js/app-js/appFilter.js"></script>
    <script src="/static/new/js/app-js/modules/profile.js"></script>
    <script src="/static/new/js/app-js/modules/dashboard.js"></script>
    <script src="/static/new/js/app-js/modules/user.js"></script>
    <script src="/static/new/js/app-js/modules/resource.js"></script>
    <script src="/static/new/js/app-js/modules/request.js"></script>
    <script src="/static/new/js/app-js/modules/common.js"></script>
    <script src="/static/new/js/app-js/modules/budget.js"></script>
    <!-- <script src="/static/new/js/app-js/modules/user.js"></script>
    <script src="/static/new/js/app-js/modules/customer.js"></script>
    <script src="/static/new/js/app-js/modules/bu.js"></script>
    <script src="/static/new/js/app-js/modules/account.js"></script>
    <script src="/static/new/js/app-js/modules/project.js"></script>
    <script src="/static/new/js/app-js/modules/csp.js"></script>
    <script src="/static/new/js/app-js/modules/displayCsp.js"></script>
    <script src="/static/new/js/app-js/modules/displayRegion.js"></script> -->

    <script src="/static/new/js/app-js/controllers/dashboard.js"></script>
    <script src="/static/new/js/app-js/controllers/headerController.js"></script>
    <script src="/static/new/js/app-js/controllers/profile.js"></script>
    <script src="/static/new/js/app-js/controllers/common.js"></script>
    <script src="/static/new/js/app-js/controllers/commonAddController.js"></script>
    <script src="/static/new/js/app-js/controllers/commonEditController.js"></script>
    <script src="/static/new/js/app-js/controllers/commonListController.js"></script>
    <script src="/static/new/js/app-js/controllers/commonTagController.js"></script>
    <script src="/static/new/js/app-js/controllers/commonResourceAddController.js"></script>
    <script src="/static/new/js/app-js/controllers/budgetTagController.js"></script>
    <script src="/static/new/js/app-js/controllers/budgetProjectTagController.js"></script>
    <script src="/static/new/js/app-js/controllers/swaListController.js"></script>
    <script src="/static/new/js/app-js/controllers/request.js"></script>
    <script src="/static/new/js/app-js/controllers/user.js"></script>
    <script src="/static/new/js/app-js/controllers/resource.js"></script>
    <script src="/static/new/js/app-js/controllers/budget.js"></script>
    <script src="/static/new/js/app-js/controllers/billing.js"></script>
    <script src="/static/new/js/app-js/controllers/BudgetList.js"></script>
    <script src="/static/new/js/app-js/controllers/BudgetCard.js"></script>
    <script src="/static/new/js/app-js/controllers/resourceProjectTag.js"></script>
    <!-- <script src="/static/new/js/app-js/controllers/user.js"></script>
    <script src="/static/new/js/app-js/controllers/customer.js"></script>
    <script src="/static/new/js/app-js/controllers/bu.js"></script>
    <script src="/static/new/js/app-js/controllers/account.js"></script>
    <script src="/static/new/js/app-js/controllers/project.js"></script>
    <script src="/static/new/js/app-js/controllers/csp.js"></script>
    <script src="/static/new/js/app-js/controllers/displayCsp.js"></script>
    <script src="/static/new/js/app-js/controllers/displayRegion.js"></script> -->
    
    <script src="/static/new/js/app-js/services/dashboard.js"></script>
    <script src="/static/new/js/app-js/services/profile.js"></script>
    <script src="/static/new/js/app-js/services/request.js"></script>
    <script src="/static/new/js/app-js/services/Resource.js"></script>
    <script src="/static/new/js/app-js/services/user.js"></script>
    <script src="/static/new/js/app-js/services/customer.js"></script>
    <script src="/static/new/js/app-js/services/budget.js"></script>
    <script src="/static/new/js/app-js/services/budgetList.js"></script>
    <script src="/static/new/js/app-js/services/provision.js"></script>
    <script src="/static/new/js/app-js/services/billing.js"></script>
    <!-- <script src="/static/new/js/app-js/services/user.js"></script>
    <script src="/static/new/js/app-js/services/account.js"></script>
    <script src="/static/new/js/app-js/services/project.js"></script>
    <script src="/static/new/js/app-js/services/csp.js"></script>
    <script src="/static/new/js/app-js/services/displayCsp.js"></script>
    <script src="/static/new/js/app-js/services/displayRegion.js"></script> -->
